




<html>
  <head>
    <link rel="stylesheet" href="main.css" type="text/css">
    <title>The COVID-19 Memorial and Grief Resources</title>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Nunito+Sans&display=swap" rel="stylesheet"/>

  </head>
  <body>
        <div>
          <h3 class="im">In Memoriam</h3>
          <ul class="im">
            {% for item in contents %}
              <li id="/person{{item.num}}">
                <a href="/{{item.num}}"> {{ item.name }} </a>
              </li>
            {% endfor %}
            <a href="/storage" class="button"> submit </a>
            <a href="/stages" class="button"> I need help with the new normal </a>          </ul>
        </div>
    </div>
  </body>
</html>