




<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>The COVID-19 Memorial and Grief Resources</title>
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Nunito+Sans&display=swap" rel="stylesheet"/>

  </head>
  <body>
        <div>
          <h3 class="im">In Memoriam</h3>
          <ul class="im">
          <div class="column-left">

          {% for item in contents[0:10] %}
                   <li>
                     <a href="/{{item.num}}"> {{ item.name }} </a>
                   </li>
​           {% endfor %}
              </div>
           <div class="column-right">

            {% for item in contents[11:20] %}
                <li>
                  <a href="/{{item.num}}"> {{ item.name }} </a>
                </li>
            {% endfor %}
​            </div>
            <div class="column-center">

            {% for item in contents[21:30] %}
                <li>
                  <a href="/{{item.num}}"> {{ item.name }} </a>
                </li>
            {% endfor %}
          </div>

               </ul>
        </div>
    </div>
   <a href="/storage" class="button"> submit </a>
   <a href="/stages" class="button"> I need help with the new normal </a>     
  </body>
</html>

