
<html>
  <head>
    <title>The COVID-19 Memorial and Grief Resources</title>      
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Nunito+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container navbar">
        <ul class="row">
            <a href="#intro"><li class="button three columns">Intro</a></li>
            <a href="#anxiety"><li class="button two columns">Anxiety</a></li>
            <a href="#exercise"><li class="button three columns">Guided Exercise</a></li>
    <a href="#stages"><li class="button three columns">The Stages</a></li>
        </ul>
      </div>
    <div class="container">
    <section class="header">
      <h4 class="title" id="intro">Intro</h4>
        <p>The <strong>Digital Memorial Wall</strong> was created to help you cope.  Losing loved ones, employment, your sense of freedom among a myriad of other things, due to COVID-19, could cause feelings of grief and loss. Using the Digital Memorial Wall is a way for you to honor your lost loved ones.  There are additional coping resources provided for those seeking enhanced support.</p>
    </section>
    <section class="resources">    
    <h4 id="anxiety">Dealing with Anxiety</h4>
        <div class="container">
            <ul>
                <div class="row">
                    <li class="six columns">Go outside (practice social distancing)</li>
                    <li class="six columns">Ask for help</li>
                </div>
                <div class="row">
                    <li class="six columns">Create something</li>
                    <li class="six columns">Take a deep breath</li>
                </div>
                <div class="row">
                    <li class="six columns">Drink water</li>
                    <li class="six columns">Write about how you feel</li>
                </div>
                <div class="row">
                    <li class="six columns">Stay present</li>
                    <li class="six columns">Listen to soothing songs</li>
                </div>
                <div class="row">
                    <li class="six columns">Find a positive distraction</li>
                </div>
            </ul>
        </div>
    <h4 id="exercise">Guided Reflection</h4>
        <div class="container">
            <ol>
                <li>
                    Reflect on a recent emotionally or physiologically impactful stressor that you perceived to be threatening or negative as a result of COVID-19.
                </li>
                <li>
                    Imagine a stressful situation that you believe you coped with positively. Can you identify some coping strategies you used? Can you determine whether you were able to grow through the experience? What factors facilitated a positive outcome for you?
                </li>
                <li>
                    What are some major life events you have experienced? Can you identify differences in how you appraised these events? How you coped with these events?
                </li>
                <li>
                    How can you leverage some of these coping strategies during this time of uncertainty and stress?
                </li>
            </ol>
        </div>
    <h4 id="stages">The Stages</h4>
        <h5>What is Stage Theory?</h5>
        <p>The aim of theoretical models is to understand (and try to explain) the grieving process, not to be prescriptive about what people have to go through.</p>
        <div class="container">
            <div class="row">
                <div class="stage six columns">
                    <h5>Denial</h5>
                    <p>In effect, you go numb. It’s common in this stage to wonder how life will go on. Interestingly, it is denial and shock that help you cope and survive the grief event.</p> 
                    
                    <p>Denial aids in pacing your feelings of grief. Instead of becoming completely overwhelmed with grief, we deny it, do not accept it, and stagger its full impact on us at one time.</p>
                    
                    <p>Think of it as your body’s natural defense mechanism saying “hey, there’s only so much I can handle at once.” </p>
                </div>
                <div class="stage six columns">
                    <h5>Anger</h5>
                    <p>The feelings coming to the surface isn’t always a pretty or comfortable stage.</p>

                    <p>It is not healthy to suppress your feelings of anger – it is a natural response – and perhaps, arguably, a necessary one.</p>
                    
                    <p>You might look to blame others for the cause of your grief and also may redirect your anger to close friends and family. It’s important to truly feel the anger.</p>

                    <p>In everyday life, we are normally told to control our anger toward situations and toward others. </p>

                    <p>Think of anger as a strength to bind you to reality. The direction of anger toward something or somebody is what might bridge you back to reality and connect you to people again. It is a “thing.” It’s something to grasp onto – a natural step in healing.</p>
                </div>
            </div>
            <div class="row">
                <div class="stage six columns">
                    <h5>Bargaining</h5>
                    <p>This is when you endure the endless “what if” statements.</p>
                    <p>In a way, this stage is false hope. You are so desperate to get your life back to how it was before the grief event, you are willing to make a major life change in an attempt toward normality.</p>
                    <p>Guilt is a common wingman of bargaining. <i>"What if I had left the house 5 minutes sooner? The accident would have never happened."</i></p>
                    <p><i>"What if I encouraged him to go to the doctor six months ago like I first thought? The cancer could have been found sooner and he could have been saved."</i></p>
                </div>
                <div class="stage six columns">
                    <h5>Depression</h5>
                    <p>Depression represents the emptiness we feel when we are living in reality and realize the person or situation is gone or over. In this stage, you might withdraw from life, feel numb, live in a fog, and not want to get out of bed. </p>
                    <p>The world might seem too much and too overwhelming for you to face. 
                    You don’t want to be around others, don’t feel like talking, and experience feelings of hopelessness. You might even experience suicidal thoughts – thinking “what’s the point of going on?”</p>
                </div>
            </div>
            <div class="row">
                <div class="stage six columns">
                    <h5>Acceptance</h5>
                    <p>The last stage of grief identified by Kübler-Ross is acceptance. Not in the sense that “it’s okay my husband died” rather, “my husband died, but I’m going to be okay.”</p>
                    <p>In this stage, your emotions may begin to stabilize. You re-enter reality. You come to terms with the fact that the “new” reality is that you have to work from home – or that you are going to succumb to your illness and die soon – and you’re okay with that. It’s not a “good” thing – but it’s something you can live with. It is definitely a time of adjustment and readjustment.</p>
                    <p>There are good days, there are bad days, and then there are good days again. In this stage, it does not mean you’ll never have another bad day. 
                     But, the good days tend to outnumber the bad days. In this stage, you may lift from your fog, you start to engage with friends again, and might even make new relationships as time goes on.</p>
                    <p>You understand your sense of normalcy has not been replaced, but you move, grow, and evolve into your new reality.</p>
                </div>
                <div class="stage six columns">
                    <h5>Finding Meaning</h5>
                    <p>If you are looking for the next phase, here are some book recommendations. Links direct to Amazon listings.</p>
                    <ol>
                        <li><a href="https://www.amazon.com/Finding-Meaning-Sixth-Stage-Grief/dp/1501192736">Finding Meaning</a></li>
                        <li><a href="https://www.amazon.com/Second-Mountain-David-Brooks/dp/0812993268">Second Mountain</a></li>
                    </ol>
                    <p>Although it is sometimes instructive to conceptualize the manifestations of grief in this manner, it is important to emphasize that these stages are an oversimplification of the highly complex, personal waxing and waning of the emotional process. </p>
                </div>
            </div>
        </div>
    </section>
  </body>
</html>