<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Nunito+Sans&display=swap" rel="stylesheet"/>
    <title>Upload to the Memorial Wall</title>
</head>
  <body>
      <div class="container">
        <div class="docs-section" id="forms">
            <h4 class="docs-header">Add a new name</h4>
            <h6>The image you add here will be displayed for all to see</h6>
            <div class="docs-example docs-example-forms">
              <h4>Upload your image here:</h4>
              <form method="POST" action="/upload" enctype=multipart/form-data>
                <input type=file name=file>
                <input type=text name=Name value="Name">
                  <h4>Name:</h4>
                <input type=submit value=Upload>
              </form>
                </div>
            <div>
              <a class="button-primary" href="/#"> Back </a>
            </div>
         </div>
    </div>
  </body>
</html>
